@model IEnumerable<DRS.Models.DocumentCategory>

@{
    ViewData["Title"] = "Document Categories";
}

@using Newtonsoft.Json
@using DRS.Extensions

@{
    // var userPermissions = ViewBag.LoggedInUserPermissions as List<DRS.Models.Permission>;
    var userPermissionsJson = Context.Session.GetString("LoggedInUserPermissions");
    var userPermissions = userPermissionsJson == null ? new List<Permission>() : JsonConvert.DeserializeObject<List<Permission>>(userPermissionsJson);
}

<div class="">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Document Categories</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home" )">Home</a></li>
                        <li class="breadcrumb-item">
                            Document Management
                        </li>
                        <li class="breadcrumb-item">
                            Document Categories
                        </li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                @if (userPermissions != null && userPermissions.Any(p => p.AddPermission == true && p.DocumentModule == true))
                {
                    <div class="d-flex justify-content-end pb-4">
                        <button class="btn buttonCustom2" data-toggle="modal" data-target="#createModal">
                            <i class="fa-solid fa-plus"></i>&nbsp; New Document Category
                        </button>
                    </div>
                }
               
                <div class="card">
                    <!-- Create Modal -->
                    <div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModalTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="createModalTitle">Add New Document Category</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    @Html.Partial("Create", new DRS.Models.DocumentCategory())
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <table id="example2" class="table-bordered table table-head-fixed text-nowrap table-striped">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Details</th>
                                    <th>Date Created</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => item.CategoryName)</td>
                                        <td>@Html.DisplayFor(modelItem => item.CategoryDetails)</td>
                                        <td>@Html.DisplayFor(modelItem => item.CreatedDate)</td>
                                        <td class="d-flex justify-content-center align-items-center gap-4">
                                            @if (userPermissions != null && userPermissions.Any(p => p.AddPermission == true && p.DocumentModule == true))
                                            {
                                                <a asp-controller="DocumentCategory" asp-action="Edit" asp-route-id="@item.CategoryId">
                                                    <i class="fa-regular fa-pen-to-square"></i>
                                                </a>
                                            }
                                            <a class="button" data-toggle="modal" data-target="#infoModal-@item.CategoryId">
                                                <i class="fa-solid fa-circle-info"></i>
                                            </a>
                                            @if (userPermissions != null && userPermissions.Any(p => p.DeletePermission == true && p.DocumentModule == true))
                                            {
                                                <a class="button" data-toggle="modal" data-target="#deleteModal-@item.CategoryId">
                                                    <i class="fa-regular fa-trash-can"></i>
                                                </a>
                                            }
                                            

                                            <!-- Delete Modal -->
                                            <div class="modal fade" id="deleteModal-@item.CategoryId" tabindex="-1" role="dialog" aria-labelledby="deleteModalTitle" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="deleteModalTitle">Delete Document Category</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <partial name="Delete" model="item" />
                                                        </div>
                                                        <div class="modal-footer d-flex gap-4">
                                                            <a type="button" class="btn buttonCustom" data-dismiss="modal">Cancel</a>
                                                            <form asp-action="Delete">
                                                                <input type="hidden" asp-for="@item.CategoryId" />
                                                                <input type="submit" value="Delete" class="btn btn-danger" asp-route-id="@item.CategoryId" asp-action="Delete" asp-controller="DocumentCategory" />
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Info Modal -->
                                            <div class="modal fade" id="infoModal-@item.CategoryId" tabindex="-1" role="dialog" aria-labelledby="infoModalTitle" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="infoModalTitle">Document Category Details</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="row">
                                                                <dl class="col-12 gap-2">
                                                                    <dt class="col-md-4">Category Name</dt>
                                                                    <dd class="col-md-12">@item.CategoryName</dd>
                                                                    <dt class="col-md-4">Category Details</dt>
                                                                    <dd class="col-md-12">@item.CategoryDetails</dd>
                                                                    <dt class="col-md-4">Created Date</dt>
                                                                    <dd class="col-md-12">@item.CreatedDate</dd>
                                                                </dl>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <a type="button" class="btn buttonCustom" data-dismiss="modal">Cancel</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
