@model DRS.Models.Document

@{
    ViewData["Title"] = "Delete Document";
}

<div class="wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="">Delete Document</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                        <li class="breadcrumb-item">Document</li>
                        <li class="breadcrumb-item">@Html.DisplayNameFor(model => model.DocTitle)</li>
                        <li class="breadcrumb-item">Delete Document</li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="card">
                    <div class="pb-4 d-flex justify-content-end gap-4">
                        <form asp-action="Delete">
                            <input type="hidden" asp-for="DocId" />
                            <input type="submit" value="Delete" class="btn btn-danger" />
                        </form>
                        <a asp-controller="Document" asp-action="Index">
                                <button type="" class="btn buttonCustom">Back to Documents</button>
                            </a>
                    </div>

                    <dl class="row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.DocTitle)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.DocTitle)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.DdlMinistries)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.DdlMinistries)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.DdlLawcategory)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.DdlLawcategory)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Volume)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Volume)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.PageNo)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.PageNo)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Year)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Year)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.RepealedBy)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.RepealedBy)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.AmdtPrinciple)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.AmdtPrinciple)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.BookNoNew)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.BookNoNew)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.BookNoOld)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.BookNoOld)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.BookPageNo)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.BookPageNo)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.GazetteYear)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.GazetteYear)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.GazettePart)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.GazettePart)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.GazettePageNo)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.GazettePageNo)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Srono)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Srono)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.SubDepartment)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.SubDepartment)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Status)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Status)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Remarks)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Remarks)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.CreatedDate)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.CreatedDate)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.PublishingDate)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.PublishingDate)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.CommencementDate)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.CommencementDate)
                        </dd>
                        @* <dt class = "col-sm-2">
                        @Html.DisplayNameFor(model => model.Validity)
                        </dt>
                        <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.Validity)
                        </dd> *@
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.SecurityLevel)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.SecurityLevel)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.TargetSubCategory)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.TargetSubCategory)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.TargetSearchDocument)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.TargetSearchDocument)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.TitleUrl)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.TitleUrl)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.LatestUrl)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.LatestUrl)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Rules)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Rules)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Acts)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Acts)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Category)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Category.CategoryId)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Subcategory)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Subcategory.SubcategoryId)
                        </dd>
                    </dl>
                </div>
            </div>
    </section>
</div>